.explorer {
    padding: 30px 0;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.song-elem {
    text-align: left;
    min-height: 60px;
    display: flex;
    border-radius: 0.3rem;
    margin-top: 5px;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 20px);
}

.song-elem-buttons {
    flex: 2;
    max-width: 120px;
    display: flex;
    justify-content: space-evenly;
}

.cover-image-container {
    width: 60px;
    height: 60px;
}

.cover-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sortfilter-select {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px 0;
    text-align: left;
    font-size: 0.95rem;
    color: var(--color-bg);
}

.sort-by-elem {
    user-select: none;
    padding: 0 10px;
    background-color: transparent;
    border: 0;
    color: inherit;
    margin: 0;
    font: inherit;
}

.sort-by-elem:hover {
    cursor: pointer;
    color: var(--primary);
    text-shadow: 0 0 1px var(--primary);
}

.sort-by-selected {
    color: var(--primary);
}

.sort-by-forced {
    user-select: none;
    padding: 0 10px;
    color: var(--secondary);
}

.filter-elem {
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.filter-elem input {
    margin: 0 5px;
}

.explorer-search {
    width: calc(100% - 20px);
}

.explorer-search .field {
    width: calc(100% - 5px);
}