.explorer {
    width: 100%;
    text-align: center;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
}

.explorer-search-form {
    width: calc(100% - 20px);
}

.explorer-musics {
    width: 100%;
    flex-grow: 1;
}

.song-elem {
    text-align: left;
    min-height: 60px;
    display: flex;
    border-radius: 0.3rem;
    margin-top: 5px;
    align-items: center;
    width: calc(100% - 10px);
}

.deleting:before {
    content: "";
    background-image: conic-gradient(
        var(--primary) 20deg,
        transparent 120deg
    );
    width: 300%;
    height: 300%;
    position: absolute;
    top: -100%;
    left: -100%;
    overflow: hidden;
    z-index: 1;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.deleting {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    color: var(--color-fg);
    z-index: 2;
}

.deleting:after {
    content:"Cancel";
    position: absolute;
    background-color: var(--fg);
    z-index: 1;
    color: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    top: 4%;
    left: 3%;
    width: 94%;
    height: 92%;
    border-radius: 4px;
}

.deleting:hover:after {
    background-color: #724b88;

}

.deleting .material-icons {
    z-index: 2;
}

.song-elem-playable {
    cursor: pointer;
}

.song-elem-hovered {
    filter: brightness(130%);
}

.song-elem-disabled {
    opacity: 0.6;
}

.song-elem-buttons {
    flex: 2 0 100px;
    max-width: 100px;
    display: flex;
    justify-content: space-evenly;
}


.user-tags {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 500px;
    overflow: auto;
}

.add-tag-propositions {
    display: flex;
    flex-flow: column;
    width: 100%;
    z-index: 1;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    border-bottom: 1px solid var(--bg);
}

.add-tag-proposition {
    display: flex;
    align-items: center;
    z-index: 1;
    width: calc(100% - 14px);
    background-color: var(--fg);
    padding: 7px;
    border-top: 1px solid var(--bg);
    border-left: 1px solid var(--bg);
    border-right: 1px solid var(--bg);
}

.add-tag-proposition:hover {
    background-color: var(--primary);
    color: var(--bg);
    cursor: pointer;
}

.add-tag-focused {
    background-color: var(--primary);
    color: var(--bg);
}

.tag-elem {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 2px 5px;
    color: black;
}

.tag-elem-text {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.tag-elem-delete {
    padding-top: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-label-button:hover {
    color: var(--primary);
    cursor: pointer;
}

.small-pad-left {
    padding-left: 4px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.add-label-input {
    height: 20px;
    background-color: var(--fg);
    color: var(--color-fg);
}

.cover-image-container {
    width: 60px;
    height: 60px;
}

.cover-image-container img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.sortfilter-select {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px 0;
    text-align: left;
    font-size: 0.95rem;
    color: var(--color-bg);
}

.sort-by-elem {
    user-select: none;
    padding: 0 10px;
    background-color: transparent;
    border: 0;
    color: inherit;
    margin: 0;
    font: inherit;
}

.sort-by-elem:hover {
    cursor: pointer;
    color: var(--primary);
    text-shadow: 0 0 1px var(--primary);
}

.sort-by-selected {
    color: var(--primary);
}

.sort-by-forced {
    user-select: none;
    padding: 0 10px;
    color: var(--secondary);
}

.filter-elem {
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.filter-elem-label {
    display: flex;
    align-items: center;
}

.filter-elem input {
    margin: 0 5px;
}

.temperature-pick {
    display: flex;
    width: calc(100% - 20px);
    color: var(--color-bg);
}

.temperature-pick-text {
    flex: 0 1;
}

.temperature-pick-range {
    flex: 1 0;
    max-width: 200px;
    margin-left: 10px;
}

.explorer-search {
    width: calc(100% - 20px);
    flex: 0 0 auto;
}

.explorer-search .field {
    width: calc(100% - 5px);
}