.explorer {
    padding: 30px 0;
    width: 100%;
    text-align: left;
    max-width: 1000px;
}

.song-elem {
    min-height: 80px;
    display: flex;
    background-color: var(--fg);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}