.users {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}

.user-card:hover {
    box-shadow: 0 0 1px 1px #523e5f;
}

.user-add {
    color: var(--color-bg);
    border: 1px solid var(--fg);
    padding: 20px;
}

.user-card-current {
    box-shadow: 0 0 1px 1px var(--primary);
}
.user-card-current:hover {
    box-shadow: 0 0 1px 1px var(--primary);
}

.user-add-submit {
    margin-top: 10px;
    padding-top: 10px;
}

.user-add-submit:hover {
    color: var(--primary);
    cursor: pointer;
}

.user-card-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.user-card-delete:hover {
    color: var(--danger);
}

@media screen and (orientation:portrait) {
    .users {
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }

    .user-card-delete {
        position: relative;
        right: unset;
        top: unset;
        padding-right: 5px;
    }

    .user-card-name {
        white-space: nowrap;
        justify-content: center;
        flex-grow: 1;
        padding: 0 20px;
        display: flex;
    }

    .user-card-name .editable-text {
        max-width: 200px;
        overflow: hidden;
    }

    .user-card {
        display: flex;
        width: calc(100% - 20px);
        padding: 20px 0;
        margin: 5px 10px;
        height: 0.5rem;
    }
}