.users {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.user-card {
    display: flex;
    width: calc(100% - 20px);
    height: 0.5rem;
    padding: 20px 0;
    background-color: var(--fg);
    justify-content: center;
    align-items: center;
    margin: 4px 10px;
    position: relative;
    cursor: pointer;
}

.user-card:hover {
    box-shadow: 0 0 1px 1px #523e5f;
}

.user-add {
    color: var(--color-bg);
    border: 1px solid var(--fg);
    padding: 20px;
}

.user-card-current {
    box-shadow: 0 0 1px 1px var(--primary);
}
.user-card-current:hover {
    box-shadow: 0 0 1px 1px var(--primary);
}

.user-add-submit {
    margin-top: 10px;
    padding-top: 10px;
}

.user-add-submit:hover {
    color: var(--primary);
    cursor: pointer;
}

.user-card-info {
    position: relative;
    cursor: pointer;
    padding-left: 15px;
    flex-basis: 80px;
    text-align: left;
    font-size: 0.9rem;
    color: var(--color-bg);
}

.user-card-delete {
    position: relative;
    cursor: pointer;
    padding-right: 5px;
}

.user-card-delete .material-icons:hover {
    color: var(--danger);
}

.user-card-name {
    white-space: nowrap;
    justify-content: center;
    flex-grow: 1;
    padding: 0 20px;
    display: flex;
}

.user-card-name .editable-text {
    max-width: 200px;
    overflow: hidden;
}