body {
    margin: 0;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

:root {
    --danger: #de5050;
    --alert: #dcaa2c;
    --primary: #8761a2;
    --success: #2abe2a;
    --secondary: #3f7a51;
    --bg: #151517;
    --fg: #1b1d21;
    --color-fg: #e0e0e0;
    --color-bg: #495165;
    --scrollbar-bg: var(--fg);
    --thumb-bg: var(--color-bg);
}

select {
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--bg);
    color: var(--color-bg);
    border-radius: 4px;
    padding: 3px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid var(--color-bg);
}

#root {
    background-image: url(./splash.png);
    background-repeat: repeat-x;
    background-color: var(--bg);
    color: var(--color-bg);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 85px;
}

hr {
    border-color: var(--color-bg);
    background-color: var(--color-bg);
    color: var(--color-bg);
}

.content {
    padding: 20px 10px;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons {
    user-select: none;
    overflow: hidden;


    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.title {
    border-left: 3px var(--primary) solid;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-align: left;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.bg {
    background-color: var(--bg);
}

.fg {
    background-color: var(--fg);
}

.color-fg {
    color: var(--color-fg);
}

.color-bg {
    color: var(--color-bg);
}

.hidden {
    display: none!important;
}

.gray-fg {
    color: #88909a;
}

.small {
    font-size: 0.9rem;
}

.btn-primary {
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 10px 15px;
    background-color: var(--fg);
    color: var(--color-fg);
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.btn-primary:active {
    background-color: var(--bg);
}

.btn-primary:disabled {
    background-color: var(--fg);
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
    cursor: unset;
}

*::-webkit-scrollbar {
    width: 11px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg);
}

.scrollable-element {
    overflow-y: scroll;
}