body {
    margin: 0;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --danger: #de5050;
    --alert: #dcaa2c;
    --primary: #8761a2;
    --success: #2abe2a;
    --secondary: #3f7a51;
    --bg: #151517;
    --fg: #1b1d21;
    --color-fg: #e0e0e0;
    --color-bg: #495165;
    --scrollbar-bg: var(--fg);
    --thumb-bg: var(--color-bg);
}

#root {
    background-color: var(--bg);
    color: var(--color-bg);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 85px;
}

.content {
    width: 100%;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons {
    user-select: none;
    overflow: hidden;
}

.title {
    border-left: 3px var(--primary) solid;
    font-size: 2rem;
    padding-left: 1rem;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.bg {
    background-color: var(--bg);
}

.fg {
    background-color: var(--fg);
}

.color-fg {
    color: var(--color-fg);
}

.color-bg {
    color: var(--color-bg);
}

.hidden {
    display: none;
}

.gray-fg {
    color: #88909a;
}

.small {
    font-size: 0.9rem;
}

.btn-primary {
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 10px 15px;
    background-color: var(--fg);
    color: var(--color-fg);
}

.scrollable-element::-webkit-scrollbar {
    width: 11px;
}

.scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
}

.scrollable-element::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

.scrollable-element::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg);
}