html {
	overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

/* For use with screen readers */
.sr-only {
	display: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number'],
input[type='text'] {
	padding: 0.25rem 0.375rem;
}

.color-picker {
	display: flex;
}

.color-inputs {
	flex: 1;
}

.color-input {
	display: flex;
	padding: 0.25rem;
	align-items: center;
}

.color-input input[type='range'] {
	flex: 1;
	margin: 0 0.5rem;
}

.color-input input[type='number'] {
	width: calc(3ch + 1rem);
}

.color-output {
	width: 86px;
	height: 86px;
	margin: 0.5rem;
}

/* Firefox only */
.only-firefox {
	display: none;
}

#loading {
	margin-top: 10px;
}

#options-form {
	background-color: white;
	padding: 20px;
}

input[type='text'] {
	background-color: white;
}

#apiURL {
	border: 1px solid black;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}
