.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid var(--primary) 2px;
}

.navbar-elems {
    width: calc(100% - 20px);
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar button:hover {
    cursor: pointer;
}

.navbar button:active {
    color: var(--primary);
}

.navbar button {
    background-color: var(--bg);
    color: var(--color-fg);
    border: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
}