.player {
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 2px #27282a solid;
}

.player-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-central-menu {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.player-track-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-track-info {
    font-size: 0.9rem;
    padding: 5px;
}

.player-global-controls {
    flex: 1;
}

.player-current-track {
    flex: 1;
}

.player-button {
    background-color: transparent;
    border: transparent;
    color: var(--color-fg);
    margin: 10px;
    border: 2px var(--color-fg) solid;
    border-radius: 100%;
    padding: 5px 5px;
    display: inline-flex;
}

.player-button:hover {
    border-color: var(--primary);
    color: var(--primary);
    transition: 0.2s;
}