.player {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 2px #27282a solid;
}

.player-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-controls .player-button {
    margin: 0 5px;
}

.player-central-menu {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 250px;
    width: calc(100% - 15px);
}

.player-track-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-track-info {
    font-size: 0.9rem;
    padding: 5px;
    align-items: center;
    display: flex;
}

.player-global-controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-current-track {
    flex: 1;
    display: flex;
    max-width: 20%;
    width: 20%;
    align-items: center;
}

.player-current-track-title {
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-current-track-title .small {
    font-size: 12px;
}

.player-current-track-thumbnail {
    display: flex;
}

.player-current-track-thumbnail img {
    object-fit: cover;
    height: 83px;
    width: 83px;
}

.player-button {
    background-color: transparent;
    border: transparent;
    color: var(--color-fg);
    padding: 0 10px;
    display: inline-flex;
}

.player-button:hover * {
    color: var(--primary);
    transition: 0.2s;
    transform: scale(1.2);
}

.player-button:hover:disabled * {
    transform: none;
    color: gray;
}

.player-button img {
    user-select: none;
    filter: saturate(50%);
}

.player-button:hover img {
    user-select: none;
    filter: saturate(80%);
}

.player-button:disabled {
    border-color: gray;
    color: gray;
}