.progress-container {
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.progress-outer {
    background-color: var(--color-bg);
    height: 3px;
    width: 100%;
}

.progress-container:hover .progress-outer {
    height: 5px;
}

.progress-bar {
    background-color: var(--primary);
    height: 100%;
    transition: 0.25s linear;
}